.dark {
    background-color: #343434;
}

.dark #article {
    background-color: #343434;
    color: white;
}

.dark .contentResumeArticleIndex {
    background-color: #cbc7c7;
    color: black;
}


.dark div > #firstNav > ul > li > .little {
    background-color: #cbc7c7 ;
}

.dark > div > #firstNav > ul > li {
    color: black;
}

.dark h1, .dark h2 {
    color: #cbc7c7;
}

.dark .white, .dark .pagination {
    color: white;
}

.dark .privacy {
    color: white;
}

.dark form label, .dark p {
    color: white;
}

.dark .artTitle, .dark .artResume {
    color: black;
}

.dark #article a {
    color: blue;
}

.dark #article .createAccount {
    color: white;
}