/**
Menu
 */
#logo {
    width: 10rem;
}

nav {
    display: flex;
    justify-content: space-evenly;
    align-items: center;
    text-decoration: none;
    font-size: 2rem;
    width: 100%;
}

a {
    color: black;
    text-decoration: none;
}

li{
    display: flex;
    justify-content: start;
    list-style-type: none;
    padding: 0.2em;
}

.list {
    display: flex;
    align-items: center;
    flex-direction: row;
    justify-content: space-evenly;
    width: 100%;
}


.little {
    display: none;
    position: absolute;
    width: 10%;
    z-index: 2;
    margin-top: 2rem;
    background-color: #cbc7c7;
}

nav > ul li:hover .little {
    display: block;
}

.little > li {
    padding: 0.5rem;
}

.little > li:hover, #resultProposal > a:hover {
    background-color: grey;
}

nav {
    background-color: blue;
}

#second-nav {
    padding: 0.7rem;
    font-family: Arial, serif;
}

#second-nav > ul > li > a {
    color: white;
}

#firstNav {
    background-color: #cbc7c7;
}

.burger {
    display: none;
}

/*
Footer
 */

footer {
    position: absolute;
    bottom: 0;
    top: 100%;
    background-color: blue;
    color: white;
    padding: 0.5rem;
    width: 100%;
    margin-top: 1rem;
    height: 4rem;
}

/**
Home page
 */

.content {
    display: flex;
    justify-content: space-around;
}

.left, .right {
    width: 45%;
}

.contentDown {
    margin-left: 2vw;
}

.contentResumeArticleIndex {
    display: flex;
    justify-content: left;
    background-color: #cbc7c7;
    border: blue 1px solid;
    margin-top: 1rem;
    width: 45vw;
    padding: 0.5rem;
}
.contentResumeArticleIndex > a {
    text-align: center;
}
.center {
    margin-left: 25vw;
}

#search {
    padding: 0.5rem;
}

/*logo user space style*/
#userSpace {
    width: 4.3rem;
    margin-right: 0.5rem;
}

/*Error page*/

#error {
    font-size: 3rem;
    margin-left: 4rem;
}

/*Create account*/

.account {
    font-size: 2rem;
    text-align: center;
    margin-bottom: 2rem;
}

.createAccount {
    padding: 0.5rem;
    background-color: blue;
    color: white;
    font-weight: bold;
}

/*search tool*/

#search {
    width: 15vw;
    padding: 0.7rem;
}

form > .searching {
    border-collapse: collapse;
}

#resultProposal {
    position: absolute;
    width: 15vw;
    background-color: white;
}

#resultProposal > a {
    display: flex;
    flex-direction: column;
    margin-top: 1rem;
    padding: 0.7rem;
}

/*mention*/
#privacyPolicy {
    color: white;
    font-size: 1.2rem;
    text-align: right;
}

.privacy {
    font-size: 1.5rem;
    margin-left: 1rem;
}

#forgot {
    text-align: center;
    font-weight: bold;
    font-size: 2rem;
    margin-top: 0.5rem;
}

#forgot > a {
    color: blue;
}

@media screen and (max-width: 870px){

    .secondNavLink {
        font-size: 1.5rem;
    }

    #logo  {
        width: 5rem;
    }
}

@media screen and (max-width: 770px) {

    .display {
        display: none;
        margin-top: 10rem;
        height: 0;
        width: 0;
    }

    .displayLink {
        position: relative;
        background-color: #cbc7c7;
        margin-left: -12rem;
        padding: 0.5rem;
    }

    .burger {
        display: flex;
    }

    .content, .contentDown {
        flex-direction: column;
        margin-left: 5rem;
    }

    h2 {
        font-size: 2rem;
    }

    .contentResumeArticleIndex {
        width: 65vw;
    }
}

@media screen and (max-width: 400px) {
    #second-nav {
        font-size: 1.5rem;
    }

    #search {
        width: 10rem;
    }
}
