* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}

html {
    font-size: 65.5%;
}

h2 {
    font-size: 2.5rem;
    margin-top: 0.5rem;
}

#article {
    border: blue double 6px;
    width: 80vw;
    margin: 0 auto;
    background-color: #f1e2e2;
}

#titleArticle {
    margin-top: 1.5rem;
    font-size: 5rem;
}

#contentArticle {
    font-size: 2rem;
    margin-top: 1.5rem;
}

#infoArticle {
    margin-top: 2rem;
    font-size: 1.5rem;
}

#article > p, #article  > blockquote >p > span {
    font-size: 2rem;
    text-align: justify;
    padding: 0.8rem;
}

#article  > blockquote >p > span {
    font-style: italic;
    font-weight: bold;
}

#article > p > img {
    margin: auto 0;
}

#article > ul > li {
    font-size: 2rem;
}

#imgCover {
    margin-left: 6vw;
}

.userComment, .commentContent {
    font-size: 1.5rem;
    padding: 0.5rem;
    margin-left: 0.5rem;
}

.artImage {
    width: 9vw;
    margin-top: 0.5rem;
}

.artTitle {
    font-size: 2.5rem;
    font-weight: bold;
    margin-left: 0.5rem;
}

.artResume {
    font-size: 2rem;
    margin-left: 0.5rem;
}

.contentResumeArticle {
    display: flex;
    justify-content: center;
    align-items: center;
    border: blue 1px solid;
    margin-top: 1rem;
    margin-left: 25vw;
    width: 50vw;
}

#userImage {
    width: 8vw;
}

.pagination {
    width: 5rem;
    font-weight: bold;
    font-size: 1.5rem;
    border: 1px solid blue;
    padding: 0.3rem;
    margin-left: 0.5rem;
}

.styleNumber {
    margin-left: 25vw;
    margin-top: 2rem;
}